$small-padding: 15px;
$med-padding: 25px;
$large-padding: 50px;

$small-margin: 15px;
$med-margin: 25px;
$large-margin: 50px;

/**
 *  Google maps
 *
 */
.scrolloff {
  pointer-events: none;
}

#google-map {
  width: 100%;
  height: 450px;
}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
  display: none;
}

.gmnoprint div {
  background: none !important;
}

/**
 *  Margins
 *
 */

//  NO MARGIN
.no-margin {
  margin: 0 !important;
}

.no-top-margin {
  margin-top: 0 !important;
}

.no-right-margin {
  margin-right: 0 !important;
}

.no-bottom-margin {
  margin-bottom: 0 !important;
}

.no-left-margin {
  margin-left: 0 !important;
}

//  SMALL MARGIN
.small-margin {
  margin: $small-margin !important;
}

.small-top-margin {
  margin-top: $small-margin !important;
}

.small-right-margin {
  margin-right: $small-margin !important;
}

.small-bottom-margin {
  margin-bottom: $small-margin !important;
}

.small-left-margin {
  margin-left: $small-margin !important;
}

//  MEDIUM MARGIN
.med-margin {
  margin: $med-margin !important;
}

.med-top-margin {
  margin-top: $med-margin !important;
}

.med-right-margin {
  margin-right: $med-margin !important;
}

.med-bottom-margin {
  margin-bottom: $med-margin !important;
}

.med-left-margin {
  margin-left: $med-margin !important;
}

//  LARGE MARGIN
.large-margin {
  margin: $large-margin !important;
}

.large-top-margin {
  margin-top: $large-margin !important;
}

.large-right-margin {
  margin-right: $large-margin !important;
}

.large-bottom-margin {
  margin-bottom: $large-margin !important;
}

.large-left-margin {
  margin-left: $large-margin !important;
}


/**
 *  Paddings
 *
 */

//  NO PADDING
.no-padding {
  padding: 0 !important;
}

.no-top-padding {
  padding-top: 0 !important;
}

.no-right-padding {
  padding-right: 0 !important;
}

.no-bottom-padding {
  padding-bottom: 0 !important;
}

.no-left-padding {
  padding-left: 0 !important;
}

//  SMALL PADDING
.small-padding {
  padding: $small-padding !important;
}

.small-top-padding {
  padding-top: $small-padding !important;
}

.small-right-padding {
  padding-right: $small-padding !important;
}

.small-bottom-padding {
  padding-bottom: $small-padding !important;
}

.small-left-padding {
  padding-left: $small-padding !important;
}

//  MEDIUM PADDING
.med-padding {
  padding: $med-padding !important;
}

.med-top-padding {
  padding-top: $med-padding !important;
}

.med-right-padding {
  padding-right: $med-padding !important;
}

.med-bottom-padding {
  padding-bottom: $med-padding !important;
}

.med-left-padding {
  padding-left: $med-padding !important;
}

//  LARGE PADDING
.large-padding {
  padding: $large-padding !important;
}

.large-top-padding {
  padding-top: $large-padding !important;
}

.large-right-padding {
  padding-right: $large-padding !important;
}

.large-bottom-padding {
  padding-bottom: $large-padding !important;
}

.large-left-padding {
  padding-left: $large-padding !important;
}